S3method("+",spiketimes)
S3method("[",mpsth)
S3method("[",spiketimes)
S3method(as.repeatedTrain,default)
S3method(as.repeatedTrain,spiketimes)
S3method(as.ts,mpsth)
S3method(as.ts,psth)
S3method(mean,mts)
S3method(merge,spiketimes)
S3method(plot,mpsth)
S3method(plot,spiketimes)
S3method(split,spiketimes)
S3method(subset,spiketimes)
export(AddLinesToRasterPlot)
export(CollectSpikesFromSweeps)
export(OdourResponseFromSpikes)
export(PlotOdourResponseFromSpikes)
export(PlotRasterFromSweeps)
export(as.mpsth)
export(as.repeatedTrain)
export(as.spiketimes)
export(finder_colour)
export(finder_colour_fast)
export(fix.odd)
export(is.spiketimes)
export(read.odd)
export(scale.ts)
export(set_finder_colour)
export(smooth_decimate)
export(smpsth)
export(tsp.nclamppxp)
export(tsp.psth)
importFrom(IgorR,read.pxp)
importFrom(IgorR,tsp.igorwave)
importFrom(STAR,as.repeatedTrain)
importFrom(stats,as.ts)
importFrom(tools,md5sum)
